* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.background {
    background: url(../img/background.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.5);
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;

}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

header ul li a:hover {
    border-bottom: 2px solid aqua;
}

header .menu {
    font-size: 2.5em;
    display: none;
}

header .logo {
    flex: 1;
    color: #fff;
    margin-left: 50px;
}

#chk1 {
    display: none;
}

i {
    color: #fff;
    cursor: pointer;
}

footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials li a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media(max-width:1000px) {
    header.ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu {
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul {
        right: 0;
    }
}
@media(max-width:600px) {
    header .logo {
        font-size: 10px;
        margin-left: 8px;
    }
    header ul {
        width: 100%;
    }
}